body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#fafdf3
}

html{
    background-color: beige;
}
h2{
    border: 1.5px; border-style:solid; border-color: black;
    text-align: center;
    font-size: 30px;
}
.color-box{
    background-color: rgb(51, 50, 50);
    height: 40px;
}
ul{
    font-size: 18px;
    margin-left:20px;
}
h3{
    font-size: 21px;
    margin-left:20px;
}


.dev-background{
    background-image: url('image/man-wooden-cubes-table-management-concept.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: transparent;
    margin: 0;
    padding: 0;
    position: relative;
    height: 60vh;
    display:block;
}

.dev-background h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace
}

.week3-Container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:10px;
}

.week3-box{
    width: 800px;
    height: 920px;
    border: 2px solid black;
    border-radius: 25px;
    background-color: rgba(62, 62, 62, 0.4);
    color:whitesmoke;
}

.inputbox{
    margin-top:40px;
    margin-left:50px;
    margin-bottom: 40px;
}

.inputbox label{
    font-size:24px;
    color:whitesmoke;
}

.inputbox input[type="date"]{
    width: 250px; 
    padding: 10px; 
    font-size: 16px; 
    border-radius:10px;
    background-color:rgb(250, 250, 250);
}

.inputbox input[type="text"]{
    width: 250px; 
    padding: 10px; 
    font-size: 16px; 
    border-radius:10px;
    background-color:rgb(250, 250, 250);
    margin-right:30px;
} 

/* Button styling */
.inputbox button[type="submit"]{
    width: 150px; 
    padding: 10px; 
    font-size: 16px; 
    border-radius:10px;
    background-color:rgb(35, 116, 85);
    color: whitesmoke;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.inputbox button[type="submit"]:hover{
    color:darkgray;
}

.textarea-style {
    width: 600px;
    height: 150px; 
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    background-color: rgb(250, 250, 250);
    margin-bottom: 20px;
}

.inputbox input[type="radio"] {
    transform: scale(1.5);
    margin-right: 5px;
    margin-bottom: 10px;
    margin-left:25px;
}
